*{
    margin: auto;

}

.firstpage{
    margin: 100px;
    display: inline-block;
    background-color: red;
    width: 400px;
    height: 350px;

}

h1{
    font-size: 33px;
}
/*.main{
    margin: 10px;
    display: flex;



}
.dropdown{
    margin: 10px;
    display: flex;
}
.main input{
    margin: 5px;

}*/
