<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login Registration</title>
    </head>
    <body>
        <link rel='stylesheet'type='text/css' href="{{url_for('static', filename='style.css')}}">
        <div class="main">

        {% with messages = get_flashed_messages()%}
            {% if messages %}
                {% for message in messages %}
                    <p style="color: red;"> {{message}} </p>
                {% endfor %}
            {% endif %}
        {% endwith %}


        <h1>Registration</h1>
        <form class="form"action="register" method="post">
            First name:<input type="text" name="first_name"><br>
            Last name:<input type="text" name="last_name"><br>
            Email:<input type="text" name="email"><br>
            password:<input type="text" name="password"><br>
            Confirm password:<input type="text" name="confirm"><br>
            <input type="submit" name="" value="Register" >

        </form>
        <hr>
        <h1>Login</h1>
        <form class="form"action="/login" method="post">
            Email:<input type="text" name="email"><br>
            password:<input type="text" name="password"><br>
            <input type="submit" name="" value="Login">

        </form>
    </div>

    </body>
</html>
